
@if (Ordered)
{
    @foreach (var group in _cubeGroups)
    {
        var g = group;
        <div>
        <CubeContainerComponent Cubes="g.Cubes" Setting="Setting" Ordered="false"/>
        </div>
    }
}
else
{
    @foreach (var cube in Cubes)
    {
        var c = cube;
        <CubeComponent Cube="c" Setting="Setting" />
    }
}

@code{
    [Parameter]
    public List<Cube> Cubes { get; set; }

    [Parameter]
    public LibraBoardSetting Setting { get; set; }

    [Parameter]
    public bool Ordered { get; set; } = false;

    private List<(int CubeId, List<Cube> Cubes)> _cubeGroups
        => Cubes?.GroupBy(x => x.Id)
            .Select(x => (CubeId: x.Key, Cubes: x.ToList()))
            .OrderBy(x => x.CubeId)
            .ToList();
}
