.cube-item {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 3px;
}

.cube-color-1 {
    background-color: brown;
}

.cube-color-2 {
    background-color: darkgreen;
}

.cube-color-3 {
    background-color: lightcoral;
}
