@inherits JkwPageBase
@using MudBlazor

@if (State.Status == LibraGameStatus.Ready)
{
    <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Success"
        OnClick="Start"
    >
        !! 시작 !!
    </MudButton>
}
@if (State.Status == LibraGameStatus.Playing)
{
    @if (CurrentPlayer?.LinkedUser == User)
    {
        <OneClickButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Error"
            OnClick="Confirm" Reusable="true"
        >
            !! 확정 !!
        </OneClickButton>
        @if (CanGuess)
        {
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Info"
                OnClick="Guess"
            >
                !! 정답 !!
            </MudButton>
        }
    }
    else
    {
        <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Default"
            Disabled="true"
        >
            상대방을 기다리고 있습니다.
        </MudButton>
    }
}
@if (State.Status == LibraGameStatus.Failed)
{
    <span>실패하였습니다.</span>
    <span>@State.ResultMessage</span>
}
@if (State.Status == LibraGameStatus.Success)
{
    <span style="font-size: xxx-large;">성공 !! 축하합니다!!</span>
    <span style="font-size: large;">@State.ResultMessage</span>
}
<MudIconButton
    Icon="@Icons.Material.Filled.SettingsSuggest"
    Size="Size.Large"
    OnClick="OpenSetting"
></MudIconButton>

@if (State.Status == LibraGameStatus.Playing && CurrentPlayer?.LinkedUser == User)
{
    <span style=@RemainTimeStyle>@RemainTimeText</span>
}
