@inherits JkwPageBase
@using MudBlazor

<div>
<h3>Player @Player.Id</h3>

@if (Player.LinkedUser != null)
{
    var user = Player.LinkedUser;
    <span>@user.UserName</span>
}
    <div>
        <MudDropZone T="DropCubeItem"
            Identifier="@CubeIdentifier"
            Class="d-flex border-2 border-solid docs-gray-bg mud-border-lines-default rounded"
        />

@*
        @foreach (var cube in Player.Cubes)
        {
            var cubeClass = $"cube-color-{cube.Id}";
            <span class="cube-item @cubeClass"></span>
        }
*@
    </div>
</div>

