.cube-container {
    width: 180px;
    height: 200px;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e2e2e2;
}

.cube-slot {
    width: 180px;
    height: 50px;
}

