.cube-container {
    width: 210px;
    height: 200px;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e2e2e2;
}
.large-container {
    width: 263px;
    height: 320px;
}

.cube-slot {
    width: 210px;
    height: 50px;
}
.large-slot {
    width: 263px;
}
