@page "/ScaleComponent"
@inherits JkwPageBase
@using MudBlazor

<h3>ScaleComponent</h3>

<table>
    <tr>
        <th style="text-align: center;">Left</th>
        <th style="text-align: center;">
            @if (Scale.Left.Value == Scale.Right.Value)
            {
                <span> &equiv; </span>
            }
            else if (Scale.Left.Value > Scale.Right.Value)
            {
                <span> &gt; </span>
            }
            else
            {
                <span> &lt; </span>
            }
        </th>
        <th style="text-align: center;">Right</th>
    </tr>
    <tr>
        <td class="cube-container">
            <SingleArmComponent Arm="@Scale.Left" />
        </td>
        <td style="width: 20px;"></td>
        <td class="cube-container">
            <SingleArmComponent Arm="@Scale.Right" />
        </td>
    </tr>
    <tr>
        <td class="">
            <div class="d-flex cube-slot">
                <MudDropZone T="DropCubeItem" Identifier="@LeftArmCubeIdentifier" Class="d-flex cube-slot" Style="height:100%;width:100%;">

                </MudDropZone>
            </div>
        </td>
        <td></td>
        <td class="">
            <div class="d-flex cube-slot">
                <MudDropZone T="DropCubeItem" Identifier="@RightArmCubeIdentifier" Class="d-flex cube-slot" Style="height:100%;width:100%;">

                </MudDropZone>
            </div>
        </td>
    </tr>
</table>

