.cube-container {
    width: 180px;
    height: 200px;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.cube-slot {
    width: 180px;
    height: 50px;
}

