@inherits JkwPageBase
@page "/trip"
@using KakaoMapBlazor

<KakaoMapComponent
    @ref="kakaoMapComponent"
    CreateOption="mapCreateOption"
    Style="width: 100%; height: 100%;"
></KakaoMapComponent>

<div style="border: 1px solid black; width: 500px; height: 300px; top: 0; left: 0; z-index: 99999; position: absolute;">

</div>
