@inherits JkwPageBase

@page "/user"

<AuthorizeView>
    <Authorized>
        <h1>@User.UserName</h1>

        <a class="btn btn-dark" href="logoutexternal">로그아웃</a>
    </Authorized>
</AuthorizeView>

