@inherits JkwPageBase

@page "/user"
@page "/user/change-nickname"

<AuthorizeView>
    <Authorized>
        <PageTitle>@User?.UserName</PageTitle>

        @if (ChangeNickName)
        {
            <div style="display: inline-block; width: 250px;">
                <MudTextField @bind-Value="InputNickName" Placeholder="@User?.UserName" Style="margin-top: 10px; margin-bottom: 10px;" AutoFocus="true"></MudTextField>
            </div>
            <MudButton OnClick="@(async () => await ChangeNickNameAsync())">변경</MudButton>
        }
        else
        {
            <h1 style="display: inline-block;">@User?.DisplayName</h1>
            @*<MudButton Link="/user/change-nickname">*@
                @*닉네임 변경*@
            @*</MudButton>*@
        }

        <MudItem>
            <MudButton Link="logoutexternal" Variant="Variant.Filled" Color="Color.Dark">
                로그아웃
            </MudButton>
        </MudItem>
    </Authorized>
</AuthorizeView>

