@inherits JkwPageBase

@page "/user"

<PageTitle>@User?.UserName</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>@User?.UserName</h1>

        <MudButton Link="logoutexternal" Variant="Variant.Filled" Color="Color.Dark">
            로그아웃
        </MudButton>
    </Authorized>
</AuthorizeView>

