@inherits JkwPageBase
@using Hangul3
@page "/typing"

<PageTitle>세벌식 타자연습</PageTitle>

<p>최근 입력된 키: @string.Join(", ", lastKey)</p>

<div>
    <span class="final-text">@FinalText</span>
    <span class="current-text">@CurrentText</span>
</div>

<style>
    .final-text {
        font-size: 24px;
        color: black;
    }
    .current-text {
        font-size: 24px;
        color: black;
        text-decoration: underline;
    }
    .current-text::after {
        content: '|';
        animation: blink 1s step-start 0s infinite;
    }
    @@keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>

@code {
    private List<string> lastKey = new List<string>();
    private Hangul3Automata automata = new Hangul3Automata();

    /// <summary>
    /// 완성된 문자열
    /// </summary>
    private string FinalText = string.Empty;
    /// <summary>
    /// 작성중인 문자 (한글자)
    /// </summary>
    private string CurrentText = string.Empty;

    private string DisplayText => FinalText + CurrentText;

    protected override async Task OnPageAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync("keyListener.initialize", DotNetObjectReference.Create(this));

            automata.Composed += Composed;
            automata.CurrentChanged += CurrentChanged;
            automata.OnBackspace += OnBackspace;
        }
    }

    [JSInvokable]
    public void OnKeyDown(string key)
    {
        if (!lastKey.Contains(key))
        {
            lastKey.Add(key);
        }
        automata.Handle2(key, false);
        StateHasChanged();
    }

    [JSInvokable]
    public void OnKeyUp(string key)
    {
        lastKey.Remove(key);
        StateHasChanged();
    }

    private void Composed(object? sender, string text)
    {
        FinalText += text;
        StateHasChanged();
    }

    private void CurrentChanged(object? sender, string text)
    {
        CurrentText = text;
        StateHasChanged();
    }

    private void OnBackspace(object? sender, EventArgs e)
    {
        if (FinalText.Length > 0)
        {
            FinalText = FinalText[..^1];
        }
        StateHasChanged();
    }
}