@inherits JkwPageBase

@page "/"

<AuthorizeView>
    <Authorized>
        <h1>@User?.DisplayName 님 안녕하세요!</h1>

        @if (User?.HasRole(UserRole.DiaryWriter) ?? false)
        {
        <MudButton Link="diary" Variant="Variant.Filled">
            일기장
        </MudButton>
        }

    </Authorized>
    <NotAuthorized>
        <h1>안녕하세요!</h1>

        <MudButton Link="login" Variant="Variant.Filled" Color="Color.Success">
            로그인
        </MudButton>
    </NotAuthorized>
</AuthorizeView>

