@inherits JkwPageBase

@page "/"

@using HelloJkwCore.Pages.Diary 

@if (IsAuthenticated)
{
    <h1> @User.UserName 님 안녕하세요!  </h1>

    <RadzenButton Click="() => Navi.NavigateTo(DiaryUrl.Home())" Text="일기장" />
}
else
{
    <h1>안녕하세요!</h1>

    <RadzenButton Click="() => Navi.NavigateTo(loginPath)" Text="로그인" />
}

@code
{
    string loginPath = "/login";
}
