@inherits JkwPageBase

@page "/"

@using HelloJkwCore.Pages.Diary 

<AuthorizeView>
    <Authorized>
        <h1>@context.User.Identity.Name 님 안녕하세요!</h1>

        <MudButton Link="@DiaryUrl.Home()" Variant="Variant.Filled">
            일기장
        </MudButton>
        <MudButton Variant="Variant.Filled" OnClick="() => Navi.NavigateTo(sufc)">수FC</MudButton>
    </Authorized>
    <NotAuthorized>
        <h1>안녕하세요!</h1>

        <MudButton Link="login" Variant="Variant.Filled" Color="Color.Success">
            로그인
        </MudButton>
    </NotAuthorized>
</AuthorizeView>

@code
{
    string sufc = "/sufc";
}
