@page "/login"

<h1>로그인</h1>

<a 
   href="/LoginExternal?provider=Google"
   target="_top">
    <img src="/images/login/btn_google_signin_dark_normal_web.png" alt="Login with Google" />
</a>

<a 
   href="/LoginExternal?provider=KakaoTalk"
   target="_top">
    <img src="/images/login/kakao_login_medium_narrow.png" alt="Login with Kakao talk" />
</a>

