@page "/login"

<h3>Login</h3>

<a class="btn btn-primary"
   href="/LoginExternal?provider=Google"
   target="_top">Login Google</a>

<a class="btn btn-primary"
   href="/LoginExternal?provider=KakaoTalk"
   target="_top">Login Kakao</a>

