@inherits JkwPageBase
@page "/diary/create"

<PageTitle>@User?.UserName 님의 일기장 만들기</PageTitle>

<h1>@User?.UserName 님의 일기장 만들기</h1>

<MudForm @bind-IsValid="@success" Style="max-width: 500px;">
    <MudCard>
        <MudCardContent>
            <MudTextField T="string" Label="일기장 이름 (소문자 3-30글자)" @bind-Value="_createModel.DiaryName"
                          Required="true" RequiredError="일기장 이름을 입력해주세요."
                          Validation="@(new Func<string, IEnumerable<string>>(DiaryNameValidator))" />
            <MudCheckBox T="bool" Label="암호화 설정" @bind-Checked="_createModel.IsSecret" />
            <ul style="font-size: small">
                <li>암호화 설정을 하면 일기의 내용을 암호화해서 저장합니다.</li>
                <li>DB가 유출되어도 아무도 일기를 읽을 수 없습니다.</li>
                <li>관리자도 여러분의 일기를 보지 못합니다.</li>
                <li>일기장을 열 때마다 암호를 입력해야 합니다.</li>
                <li>암호를 잊거나 섞어쓰면 일기를 읽지 못할 수 있습니다.</li>
                <li><strong>암호화 일기는 암호화 되어 있어서 일기 검색 기능을 사용할 수 없습니다.</strong></li>
            </ul>
        </MudCardContent>
        <MudCardContent>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Disabled="@(!success)"
                       OnClick="@(async () => await CreateDiaryAsync(_createModel))">
                일기장 만들기
            </MudButton>
        </MudCardContent>
    </MudCard>
</MudForm>
