div.button-group {
    max-width: 700px;
    display: inline-block;
    margin-bottom: 10px;
}

div.butotn-group a {

}

div#button-left-group {
    display: inline-block;
}

div#button-right-group {
    display: inline-block;
    float: right;
}

pre {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ddd;
    padding: 10px;
    font-family: 'Malgun Gothic';
    max-width: 700px;
}