@inherits JkwPageBase
@page "/diary/setpassword"

@using ProjectDiary

@inject IDiaryService DiaryService
@inject UserInstantData UserData

<h2>비밀번호 입력</h2>

<RadzenTemplateForm TItem="PasswordModel" Data="_passwordData" Submit="SetPassword">
    <RadzenFieldset Text="암호화 비밀번호 입력" Style="max-width: 700px;">
        <div>
            <div class="col-3">
                <RadzenLabel Text="암호" />
            </div>
            <div class="col">
                <RadzenPassword Name="Password" @bind-Value="_passwordData.Password" />
                <div style="display: block;">
                    <RadzenLengthValidator Component="Password" Min="4" Popup="false" Text="암호 길이가 너무 짧습니다." />
                </div>
            </div>
        </div>
    </RadzenFieldset>

    <RadzenButton ButtonType="ButtonType.Submit" Text="저장" />
</RadzenTemplateForm>

@code {
    class PasswordModel
    {
        public string Password { get; set; }
    }

    PasswordModel _passwordData = new PasswordModel();

    private void SetPassword()
    {
        UserData.Password = _passwordData.Password;
        Navi.NavigateTo(DiaryUrl.Home());
    }
}
