@inherits JkwPageBase
@page "/diary/write/{DiaryName}"
@page "/diary/write/{DiaryName}/{DiaryDate}"

<AuthorizeView Roles="DiaryWriter">
    <Authorized>
        <PageTitle>일기 쓰기</PageTitle>
        <MudGrid>
            <MudItem Style="max-width: 200px;">
                <MudDatePicker @bind-Date="Date" DateFormat="yyyy.MM.dd (ddd)" TitleDateFormat="yyyy.MM.dd dddd"></MudDatePicker>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12">
                <MudTextField T="string" @bind-Value="Content" Lines="15" Style="line-height: 30px;" AutoFocus="true"/>
            </MudItem>
            <MudItem xs="12" sm="12" md="12" lg="12">
                <OneClickButton OnClick="(async () => await WriteDiaryAsync())" 
                                StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Info">
                    저장
                </OneClickButton>
            </MudItem>
        </MudGrid>
    </Authorized>
    <NotAuthorized>
        <span>로그인하세요.</span>
        <span>또는 일기쓰기 권한이 없습니다.</span>
    </NotAuthorized>
</AuthorizeView>
