@inherits JkwPageBase
@page "/diary/search/{DiaryName}"

@using JkwExtensions

<PageTitle>일기 검색</PageTitle>

@if (DiaryInfo == null)
{
    return;
}

@if (searchData == null)
{
    <span>검색할 일기가 없습니다.</span>
}

<div class="search-form">
    <EditForm Model="searchData" OnSubmit="@(async () => await OnSubmitAsync())">
        <MudGrid>
            <MudItem xs="12" sm="6" md="6">
                <MudDatePicker @bind-Date="searchData.BeginDate" Label="시작일"/>
            </MudItem>
            <MudItem xs="12" sm="6" md="6">
                <MudDatePicker @bind-Date="searchData.EndDate" Label="종료일"/>
            </MudItem>
            <MudItem xs="12" sm="12" md="12">
                <MudTextField @bind-Value="searchData.Keyword" Label="검색어" AutoFocus="true"/>
            </MudItem>
        </MudGrid>

        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Style="width: 100%; margin-top: 10px;">
            검색
        </MudButton>
    </EditForm>
</div>

@if (DiaryContentList != null)
{
<div class="search-result">
    <span class="search-count">
        총 @DiaryContentList.Count 개가 검색되었습니다.
    </span>

    <div class="search-list">
        @foreach (var content in DiaryContentList)
        {
            <div class="search-item">
                <h2 class="search-item-date">@content.Date.ToString("yyyy.MM.dd (ddd)")</h2>
                <pre class="search-item-text">@content.Text</pre>
            </div>
        }
    </div>
</div>
}
