@inherits JkwPageBase
@page "/diary/setpassword"

@using ProjectDiary

@inject IDiaryService DiaryService
@inject UserInstantData UserData

<h2>비밀번호 입력</h2>

<div>
    <RadzenTextBox @bind-Value="Password" />
</div>

<div>
    <RadzenButton Text="저장" Click="SetPassword" />
</div>


@code {
    private string Password { get; set; }

    private void SetPassword()
    {
        UserData.Password = Password;
        Navi.NavigateTo(DiaryUrl.Home());
    }
}
