@inherits JkwPageBase
@page "/diary/edit/{DiaryName}/{Date}"

@if (HasDiaryContent)
{
<h2>@View.DiaryContents[0].Date.ToString("yyyy.MM.dd")</h2>

<div>
    @foreach (var content in View.DiaryContents)
    {
        <textarea @bind="content.Text" rows="@Rows[content.Index]" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px';"></textarea>
    }
</div>

<div>
    <RadzenButton Click="EditDiary" Text="수정"/>
</div>
}