@inherits JkwPageBase
@layout WcLayout
@using ProjectWorldCup.Pages.Betting;
@page "/worldcup/2022/result-new";

<h1>
    <img id="logo" src="https://api.fifa.com/api/v3/picture/tournaments-sq-4/255711" />
    2022 카타르 월드컵 내기 결과
</h1>

