@inherits JkwPageBase
@page "/sufc/member"

<h1>수FC / 회원</h1>

<a class="btn btn-outline-success" href="/sufc/member/new">추가</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>이름</th>
            <th>ID 연결</th>
            <th>...</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Members)
        {
            <tr>
                <td>
                    @member.Name
                    @if (User != null && member.ConnectIdList.Contains(User.Id))
                    {
                        <span class="badge badge-info">me</span>
                    }
                </td>
                <td>
                    @if (User != null)
                    {
                        if (member.ConnectIdList.Contains(User.Id))
                        {
                            <button class="btn btn-sm btn-outline-warning" @onclick="@(async () => await DisconnectId(member, User))">연결끊기</button>
                        }
                        else if (IsUserSomeoneConnected == false)
                        {
                            <button class="btn btn-sm btn-outline-success" @onclick="@(async () => await ConnectId(member, User))">연결</button>
                        }
                    }
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

