.schedule-box {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
}

.schedule-info-item {
    margin-left: 10px;
}

.member-name {
    display: inline-block;
    margin-right: 5px;
    color: #888;
    font-size: 14px;
}

@media( max-width: 500px )
{
    .schedule-info-item {
        display: block;
        margin-left: 0px;
    }
}