@inherits JkwPageBase
@page "/sufc/team/{TeamTitle}/{MyNameStr}"

@using ProjectSuFc
@inject ISuFcService SuFcService

@if (TeamResult != null)
{
    @if (MyNameStr != null)
    {
        <h3>@TeamResult.Title</h3>
    }

<table class="table" style="width: initial">
    <thead>
        <tr>
            @foreach (var team in TeamResult.TeamNames)
            {
                <th>@team</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < TeamResult.MaximumTeamSize; i++)
        {
            <tr>
                @foreach (var team in TeamResult.TeamNames)
                {
                    var members = TeamResult.GroupByTeam.ContainsKey(team) ? TeamResult.GroupByTeam[team] : new List<MemberName>();
                    <td>
                        @if (i < members.Count)
                        {
                            var memberName = TeamResult.GroupByTeam[team][i];
                            <span>
                                @memberName
                                @if (MyName != null && memberName == MyName)
                                {
                                    <span class="badge badge-info">me</span>
                                }
                            </span>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
}

@code {
    [Parameter]
    public TeamResult TeamResult { get; set; }

    [Parameter]
    public MemberName MyName { get; set; }

    [Parameter]
    public string TeamTitle { get; set; }

    [Parameter]
    public string MyNameStr { get; set; }

    protected override async Task OnPageInitializedAsync()
    {
        if (MyName == null && !string.IsNullOrEmpty(MyNameStr))
        {
            MyName = new MemberName(MyNameStr);
        }

        if (TeamResult == null && !string.IsNullOrEmpty(TeamTitle))
        {
            TeamResult = await SuFcService.FindTeamResult(TeamTitle);
        }
    }
}
