.schedule-box {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
}

.schedule-info-item {
    margin-left: 10px;
}

.view-mobile {
    display: none;
}

@media( max-width: 500px ) {
    .schedule-info-item {
        display: block;
        margin-left: 0px;
    }

    .view-wide {
        display: none;
    }
}

