@inherits JkwPageBase
@page "/sufc"

<h1>수FC</h1>

@if (!IsAuthenticated)
{
    <RadzenButton Click="Navi.GoLoginPage" Text="로그인" />
}
<a class="btn btn-outline-primary" href="/sufc/member">회원</a>
<a class="btn btn-outline-primary" href="/sufc/teammaker">팀짜기</a>
<a class="btn btn-outline-primary" href="/sufc/schedule">일정관리</a>
