@using ProjectWorldCup.Pages.Betting;

@page "/worldcup/2018/result";

<h1>
    <img src="https://cloudinary.fifa.com/api/v1/picture/tournaments-sq-4/254645" />
    2018 러시아 월드컵 내기 결과</h1>

<div class="betting">
    <h3>1라운드: 16강 진출팀 맞추기</h3>

    <BettingResult2018Component BettingItems="GroupStageItems" />

</div>


<div class="betting">
    <h3>2라운드: 8강 진출팀 맞추기</h3>

    <BettingResult2018Component BettingItems="Round16Items" />
</div>

@code
{
    [Inject]
    private IWorldCupService WorldCupService { get; set; }

    private List<WcBettingItem> GroupStageItems { get; set; } = new();
    private List<WcBettingItem> Round16Items { get; set; } = new();

    public Wc2018Result()
    {
    }

    protected override async Task OnInitializedAsync()
    {
        GroupStageItems = await WorldCupService.Get2018GroupStageBettingResult();
        Round16Items = await WorldCupService.Get2018Round16BettingResult();
    }
}
