@page "/reporra/room/{RoomId}/{UserCode}"

@using System.Security.Claims
@using System.Threading
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using HelloJkwService.User
@using HelloJkwService.Reporra

@implements IDisposable
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IReporraLobbyService Lobby
@inject IReporraHubHelper HubHelper

<h2>ReporraRoom</h2>

<h2>@_room?.RoomName</h2>

@if (_game != null)
{
    <ReporraBoardComponent Game="_game" />
}

<button @onclick="@(async () => await InitGameAsync())">Set game</button>

<div>
<span>Players</span>
<ul>
    @foreach (var player in _room?.GetPlayers())
    {
        <li>@player.Name</li>
    }
</ul>

<span>Spectators</span>
<ul>
    @foreach (var spectator in _room?.GetSpectators())
    {
        <li>@spectator.Name</li>
    }
</ul>
</div>

