@page "/reporra/lobby"

<h3>ReporraLobby</h3>

<input type="text" @bind="CreateRoomName" />
<button @onclick="CreateRoom">Create</button>

<ul id="room-list">
    @foreach (var room in Lobby.GetRoomList())
    {
        <li class="room">
            <span>@room.RoomName</span>
            <button @onclick="@(() => EnterRoom(room))">Enter</button>
            <button @onclick="@(() => SpectateRoom(room))">Spectate</button>
        </li>
    }
</ul>

<ul id="user-list">
    @foreach (var user in Lobby.GetUserList())
    {
        <li class="user">
            <span>@user.Name</span>
            @if (user.Id == _user?.Id)
            {
                <span>(me)</span>
            }
        </li>
    }
</ul>

