@inherits JkwPageBase
@layout WcLayout
@using ProjectWorldCup.Pages.Betting;
@page "/worldcup/2018/result";

<h1>
    <img id="logo" src="https://cloudinary.fifa.com/api/v1/picture/tournaments-sq-4/254645" />
    2018 러시아 월드컵 내기 결과</h1>


<div class="betting">
    <h3>3라운드: 1,2,3,4등 맞추기</h3>

    <ul>
        <li>우승팀: 32점</li>
        <li>준우승팀: 8점</li>
        <li>3등팀: 4점</li>
        <li>4등팀: 2점</li>
        <li>결승 진출팀: 각 5점</li>
        <li>준결승 진출팀: 각 1점</li>
    </ul>

    <BettingFinalResult2018Component BettingItems="FinalItems" />
</div>

<div class="betting">
    <h3>2라운드: 8강 진출팀 맞추기</h3>

    <BettingResult2018Component BettingItems="Round16Items" />
</div>

<div class="betting" style="margin-bottom: 200px;">
    <h3>1라운드: 16강 진출팀 맞추기</h3>

    <BettingResult2018Component BettingItems="GroupStageItems" />
</div>

