@inherits JkwPageBase

<div class="hangul3-input" tabindex="0" @onfocus="OnFocus" @onblur="OnBlur">
    <span class="text">
        @RenderSegments()
    </span>
  </div>

<style>
    .hangul3-input { font-size: 24px; color: black; outline: none; display: inline-block; min-width: 2ch; }
    .text { white-space: pre-wrap; }
    .caret { display: inline-block; width: 1px; background: black; height: 1em; vertical-align: middle; animation: blink 1s step-start 0s infinite; }
    .selection { background: #b3d4fc; }
    .composing { text-decoration: underline; }
    .sr-only { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }

    @@keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>
