@inherits JkwPageBase
@using Hangul3
@page "/typing"
@implements IAsyncDisposable

<PageTitle>세벌식 타자연습</PageTitle>

<p>최근 입력된 키: @string.Join(", ", lastKey)</p>

<Hangul3SingleInput />

@code {
    private List<string> lastKey = new List<string>();

    DotNetObjectReference<Typing>? objRef;

    protected override async Task OnPageAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            await Js.InvokeVoidAsync("keyListener.initialize", objRef);
        }
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            if (objRef != null)
            {
                await Js.InvokeVoidAsync("keyListener.dispose", objRef);
                objRef.Dispose();
            }
        }
        catch
        {
            // 무시
        }
    }

    [JSInvokable]
    public void OnKeyDown(string key)
    {
        if (!lastKey.Contains(key))
        {
            lastKey.Add(key);
        }
        StateHasChanged();
    }

    [JSInvokable]
    public void OnKeyUp(string key)
    {
        lastKey.Remove(key);
        StateHasChanged();
    }
}
