<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="HelloJkwCore.styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&Montserrat:400,700&family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/TableViewer.MudBlazor/css/table-viewer.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body style="height: 100%;">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="js/keyListener.js"></script>
    <script>
        window.getTimezone = () => (new Date()).getTimezoneOffset();
        window.getUserAgent = () => navigator.userAgent;
    </script>
</body>

</html>


