@inherits JkwPageBase
@using MudBlazor

<div>
@foreach (var member in Members)
{
    var checkedMember = MergeSplitOption.Names?.Contains(member.Name) ?? false;
    var color = checkedMember ? Color.Success : Color.Default;
    <MudCheckBox T="bool" Checked="@checkedMember" Label="@member.Name.Name" Dense="true" Color="color" Style="margin-right: 10px;"
        CheckedChanged="(async () => await (checkedMember ? Uncheck(member) : Check(member)))"></MudCheckBox>
}
</div>
@if (MergeSplitOption.Filled)
{
    string message = MessageTemplate(MergeSplitOption.Names);
    <div>
        <span>@message</span>
    </div>
}
