@inherits JkwPageBase
@using MudBlazor;
@page "/sufc/split"

<h1>팀 나누기</h1>

<h3>참석자 선택</h3>

@if (User?.HasRole(UserRole.SuFcAdmin) ?? false)
{
<MudLink Href="sufc/members">맴버 추가</MudLink>
<MudLink Href="sufc/team-setting-option">팀 세팅 옵션 설정</MudLink>
}

<div>
    @foreach (var member in Members)
    {
        @if (CheckedList.Contains(member.Name))
        {
            <MudButton Size="Size.Large" Variant="Variant.Filled" Color="Color.Success"
                OnClick="(async () => await UncheckMember(member))">
                @member.Name
            </MudButton>
        }
        else
        {
            <MudButton Size="Size.Large" Variant="Variant.Outlined"
                OnClick="(async () => await CheckMember(member))">
                @member.Name
            </MudButton>
        }
    }
</div>
<div style="margin-top: 30px;">
    <MudButton Size="Size.Large" Variant="Variant.Outlined"
        OnClick="(async () => await MakeTeam(2))">
        2팀 으로
    </MudButton>
    <MudButton Size="Size.Large" Variant="Variant.Outlined"
        OnClick="(async () => await MakeTeam(3))">
        3팀 으로
    </MudButton>
</div>
@if (TeamResult != null)
{
<div>
    <MudSimpleTable>
        <thead>
            <tr>
            @foreach (var teamName in TeamResult.TeamNames)
      {
        <th>@teamName</th>
      }
            </tr>
        </thead>
        <tbody>
            @foreach (var asdf in Teams)
      {
        <tr>
            @foreach (var name in asdf)
          {
            <td>@name</td>
          }
        </tr>
      }
        </tbody>
    </MudSimpleTable>
</div>
}