@inherits JkwPageBase
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@page "/sufc/team-setting"

<PageTitle>수FC 팀 설정</PageTitle>

<span>선택하면 자동 저장됩니다.</span>
<h2>이 분들은 떨어뜨려야 합니다</h2>
<MudSimpleTable>
    <thead>
        <tr>
            <th>번호</th>
            <th>이름</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var (split, index) in teamSettingOption.SplitOptions.Select((split, index) => (split, index + 1)))
    {
        Func<IEnumerable<MemberName>, string> mt = (memberNames) => $"{memberNames.StringJoin(", ")} 님은 되도록 한 팀이 되지 않도록 설정합니다.";
        <tr>
            <td>@index</td>
            <td>
                <MergeSplitCheckComponent
                    Members="Members"
                    MergeSplitOption="split"
                    Checked="(async (member) => await Check(split, member))"
                    Unchecked="(async (member) => await Uncheck(split, member))"
                    MessageTemplate="mt"
                ></MergeSplitCheckComponent>
            </td>
        </tr>
    }
    </tbody>
</MudSimpleTable>

<h2>등급을 지정합니다</h2>

<MudSimpleTable>
    <thead>
        <tr>
            <th>등급</th>
            <th>이름</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var (grade, index) in teamSettingOption.ClassOptions.Select((grade, index) => (grade, index)))
    {
        string alphabet = "ABCDEFGHIJ";
        string gradeName = alphabet.Substring(index, 1);
        Func<IEnumerable<MemberName>, string> mt = (memberNames) => $"{memberNames.StringJoin(", ")} 님을 {gradeName} 등급으로 설정합니다.";
        <tr>
            <td>@gradeName</td>
            <td>
                <MergeSplitCheckComponent
                    Members="Members"
                    MergeSplitOption="grade"
                    Checked="(async (member) => await Check(grade, member))"
                    Unchecked="(async (member) => await Uncheck(grade, member))"
                    MessageTemplate="mt"
                ></MergeSplitCheckComponent>
            </td>
        </tr>
    }
    </tbody>
</MudSimpleTable>
