@inherits JkwPageBase
@page "/diary/setpassword"

@using System.ComponentModel.DataAnnotations

@inject IDiaryService DiaryService
@inject UserInstantData UserData

<PageTitle>일기장 암호 입력</PageTitle>

<h2>비밀번호 입력</h2>
<EditForm Model="@_passwordData" OnValidSubmit="SetPassword">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudTextField @bind-Value="_passwordData.Password" InputType="InputType.Password" AutoFocus="true"/>

    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Dark" Style="margin-top: 10px;">
        저장
    </MudButton>
</EditForm>

@code {
    class PasswordModel
    {
        [Required]
        [StringLength(999, MinimumLength = 4, ErrorMessage = "암호 길이가 너무 짧습니다.")]
        public string Password { get; set; }
    }

    PasswordModel _passwordData = new PasswordModel();

    private void SetPassword()
    {
        UserData.Password = _passwordData.Password;
        Navi.NavigateTo(DiaryUrl.Home());
    }
}
