@inherits JkwPageBase
@page "/diary/write/{DiaryName}"
@page "/diary/write/{DiaryName}/{DiaryDate}"

<AuthorizeView Roles="DiaryWriter">
    <Authorized>
        <PageTitle>일기 쓰기</PageTitle>
        <MudGrid>
            <MudItem Style="max-width: 200px;">
                <MudDatePicker Date="Date" DateChanged="OnDateChanged" DateFormat="yyyy.MM.dd (ddd)" TitleDateFormat="yyyy.MM.dd dddd"></MudDatePicker>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12">
                @if (HasError)
                {
                    <MudAlert Severity="Severity.Error">뭔가 에러가 발생했습니다.</MudAlert>
                }
                <DiaryText Text="@Content" TextChanged="OnContentChanged" AutoFocus="true" ErrorStateChanged="OnContentErrorStateChanged"/>
            </MudItem>
            <MudItem xs="12" sm="12" md="12" lg="12">
                <OneClickButton OnClick="(async () => await WriteDiaryAsync())"
                                Reusable="true"
                                StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Info">
                    저장
                </OneClickButton>
            </MudItem>
        </MudGrid>
    </Authorized>
    <NotAuthorized>
        <span>로그인하세요.</span>
        <span>또는 일기쓰기 권한이 없습니다.</span>
    </NotAuthorized>
</AuthorizeView>
