@inherits JkwPageBase
@layout PpLayout
@using MudBlazor
@page "/jangtak9/competition/{CompetitionNameText}/settings"

@if (CompetitionData == null)
{
  return;
}

<MudText Typo="Typo.h3">
  @CompetitionData!.Name
</MudText>

<div style="margin-top: 30px; margin-bottom: 30px;" class="no-print">
  <PpCompetitionPlayerSetting @bind-CompetitionData="CompetitionData"/>
</div>

<div style="margin-top: 30px; margin-bottom: 30px;">
  <PpCompetitionLeagueSetting @bind-CompetitionData="CompetitionData" />
</div>