@page "/diary/write/{DiaryName}"

<div>
    <RadzenDatePicker @bind-Value="Date" DateFormat="yyyy.MM.dd"/>
</div>

<div>
    <RadzenTextArea @bind-Value="Content" Style="max-width: 95vw; width: 700px; height: 50vh;"/>
</div>

<div>
    <RadzenButton Click="_ => WriteDiary()">쓰기</RadzenButton>
</div>
