@inherits JkwPageBase

@page "/diary/spread/{DiaryName}"

@{ 
foreach (var (year, monthList) in DateGroup)
{
    <h2>@year</h2>
    @foreach (var (month, dates) in monthList)
    {
        <div style="display: block;">
            <h3 style="display: inline;">@month</h3>
            @foreach (var date in dates)
            {
                var path = $"/diary/{DiaryName}/{date:yyyyMMdd}";
                var dayText = $"{date:dd}";
                <RadzenLink Path="@path" Text="@dayText" Style="display: inline;"/>
            }
        </div>
    }
}
}
