@inherits JkwPageBase

@page "/diary/modify/{DiaryName}/{DateStr}"

<h3>@DiaryDate.ToString("yyyy.MM.dd")</h3>

@foreach (var diary in DiaryList)
{
<div>
    <RadzenTextArea @bind-Value="diary.Text" Style="max-width: 95vw; width: 700px; height: 50vh;"/>
</div>
}

<RadzenButton Click="@(args => UpdateDiary())">수정</RadzenButton>
