@inherits JkwPageBase

@page "/diary/write/{DiaryName}"

@if (!IsAuthenticated)
{
    <div>
        로그인하세요 (쓰기페이지)
    </div>
}
else
{

<div>
    <RadzenDatePicker @bind-Value="Date" DateFormat="yyyy.MM.dd"/>
</div>

<div>
    <RadzenTextArea @bind-Value="Content" Style="max-width: 95vw; width: 700px; height: 50vh;"/>
</div>

<div>
    <RadzenButton Click="_ => WriteDiary()">쓰기</RadzenButton>
</div>

}
